<div class="container-fluid">
        <div class="jumbotron">
            <h1>Project Manager</h1>
            <p>Accelerate your Agile adoption
            <p><br><a href="#/projects" class="btn btn-success btn-lg">Try it now</a></p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <h2>Projects</h2>
                <p>You can create your projects and manage them in an esay way!</p>
                <p><a href="#/projects" class="btn btn-success" ng-click="activer('projectsActive')">Learn More &raquo;</a></p>
            </div>
            <div class="col-sm-6 col-md-4 ">
                <h2>Posts</h2>
                <p>You can post all the interesting websites here. Just copy and paste the url of the website and give a title to it.</p>
                <p><a href="#/posts" class="btn btn-success">Learn More &raquo;</a></p>
            </div>
            <div class="col-sm-6 col-md-4">
                <h2>Profile</h2>
                <p>Here you can learn about other users and make new friends!</p>
                <p><a href="#/users" class="btn btn-success">Learn More &raquo;</a></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <footer>
                    <p>&copy; Copyright 2014 Project Manager</p>
                </footer>
            </div>
        </div>
    </div>
